html {
    scroll-behavior: smooth;
}

body {
    /* background-color:#183349; */
    background: rgb(255, 245, 245) !important;
    margin: 0px;
    font-size: 100%;
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    background-color: #183349;
}

.navbar-brand {
    /* color: #FF494D !important; */
    /* font-size: 150%; */
    /* font-weight: bold; */
    width: 20%;
    /* border: 1px solid red; */
}

/* .navbar-brand img{
    width: inherit;
} */

#navbarSupportedContent {
    position: absolute;
    right: 10vh;
}

.nav-link {
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
}

.nav-link:hover {
    color: #FF494D !important;
}

.s1 {
    height: 60vh !important;
    background-image: url("/images/delivery_hero.jpg") !important;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}


.s1-overlay {
    background: #ff494cab;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s1-text {
    /* color: white; */
    font-family: 'Fredoka One',
        cursive;
    font-family: 'Fredoka One',
        cursive;
    font-size: 300%;
    margin: 30px;
    text-align: center !important;
    font-weight: bold;
    color: white;
    text-shadow: 2px 5px 10px #FE3260;
}


.request {
    background: transparent;
    border: 2px solid #FE3260;
    color: black;
    font-weight: bold;
    padding: 15px !important;
    width: 20%;
    font-family: 'Russo One',
        sans-serif;
    width: 30vh;
}

.request:hover {
    color: white;
    background: #FF494D;
    border: 2px solid #FF494D;
}

.modal-body textarea {
    height: 20vh;
    resize: none;
}

.s2-inner {
    padding: 10px;
}

.pic-right,
.pic-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.right-text-con,
.left-text-con {
    width: 50vh;
}

.pics-lead {
    font-family: 'Rowdies',
        cursive;
}

.right-img-con,
.left-img-con {
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-img-con .fa,
.left-img-con .fa {
    font-size: 400%;
    color: #FF494D;
}

.s3 {
    position: relative;
    height: 50vh;
}

.s3-image-blur {
    height: 100%;
    background-image: url("/images/tech-startup.jpg") !important;
    background-position: left;
    background-size: 100%;
    /* filter: blur(0px); */
    background-repeat: no-repeat;
}

.s3-flex {
    width: inherit;
    height: inherit;
    background: linear-gradient(to left, #fe32626e, #FF494D) !important;
    background: transparent;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
}

.about-text-div {
    width: 55% !important;

    /* border: 1px solid red !important; */
}

.about-company {
    font-size: 200%;
    font-family: 'Lobster',
        cursive;
    color: white;

}

.about-texts {
    font-family: 'Courgette',
        cursive;
    color: white;
}

.about-list-div {
    width: 40%;
    /* border: 1px solid red !important; */
}

.about-list-div a {
    color: black;
    text-decoration: none;
    font-family: 'Concert One',
        cursive;
}

.collapse-text {
    font-family: 'Fira Sans Extra Condensed',
        sans-serif;
}

.s4-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.lead-box-section {
    font-family: 'Staatliches',
        cursive;
}

.s4-boxes {
    width: 30%;
    padding: 20px;
    border-radius: 0px;
    cursor: pointer;
}

.s4-boxes:hover {
    border: 1px solid #FF494D;
}

.s4-boxes .fa {
    font-size: 200%;
    margin-bottom: 20px;
    color: #FF494D;
}

.s4-boxes p {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Fredoka One',
        cursive;
    color: #FE3260;
}

.s5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.go-text {
    font-family: 'Special Elite',
        cursive;
    font-size: 250%;
}

.go-span {
    font-family: 'Tangerine',
        cursive;
    font-size: 200%;
}

.footer-super {
    background-color: #FF494D !important;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-brand-con {
    width: 45%;
}

.footer-flex .brand {
    color: white !important;
    font-size: 150%;
    font-weight: bold;
}

.footer-nav-con {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.footer-nav-con a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Concert One',
        cursive;
}

.footer-nav-con a:hover {
    color: #FF494D !important;
}

@media screen and (max-width:768px) {

    #navbarSupportedContent {
        position: relative;
        left: 0;
    }

    .s1 {
        background-position: center;
        background-size: 100% 100%;
    }

    .s1-text {
        /* color: white; */
        font-size: 200%;
        text-align: center !important;
        font-weight: bold;
    }

    .pic-right {
        display: flex;
        flex-direction: column-reverse;
    }

    .pic-right,
    .pic-left {
        margin-bottom: 0px !important;
    }

    .right-text-con,
    .left-text-con {
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-img-con,
    .left-img-con {
        width: 100%;
        align-items: center;
        /* border: 1px solid red; */
    }

    .right-img-con .fa,
    .left-img-con .fa {
        font-size: 300%;
    }

    .s3 {
        height: 80vh;
    }

    .s3-image-blur {
        height: 100%;
        background-image: url("/images/tech-startup.jpg") !important;
        background-position: top;
        background-size: 100%;
        /* filter: blur(0px); */
        background-repeat: no-repeat;
    }

    .s3-flex {
        width: inherit;
        height: inherit;
        background: linear-gradient(to bottom, #fe32626e, #FF494D) !important;
        background: transparent;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        flex-wrap: wrap;
        position: absolute;
        top: 0px;
    }

    .about-text-div {
        width: 100% !important;
        /* border: 1px solid red !important; */
    }

    .about-company {
        font-size: 200%;
        font-family: 'Lobster',
            cursive;

    }

    .about-list-div {
        width: 100%;
    }

    .s4-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .s4-boxes {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        margin: 10px;
    }

    .s4-boxes span {
        text-align: center;
    }

    .footer-super {
        background-color: #FF494D !important;
    }

    .footer-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-brand-con {
        width: 45%;
    }

    .footer-flex .brand {
        color: white !important;
        font-size: 150%;
        font-weight: bold;
    }

    .footer-nav-con {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    .footer-nav-con a {
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Concert One',
            cursive;
    }

    .footer-nav-con a:hover {
        color: #FF494D !important;
    }

}

@media screen and (max-width:425px) {
    .s1 {
        height: auto !important;
    }

    .s1-overlay {
        padding: 20px;
    }

    .s1-text {
        font-size: 150%;
        word-wrap: break-word;
    }

    .request {
        padding: 10px !important;
        width: auto;
    }

    .lead-box-section {
        text-align: center;
    }

    .lead-box-span {
        text-align: center !important;
    }


    .s3 {
        height: 100vh;
    }

    .s3-flex {
        background: linear-gradient(to bottom, #fe32626e, #FF494D) !important;
    }


    .s4-boxes {
        width: 90%;
    }

    .footer-flex {
        flex-direction: column;
    }

    .footer-brand-con {
        width: 100%;
    }

    .footer-flex .brand {
        color: white !important;
        font-size: 150%;
        font-weight: bold;
    }

    .footer-nav-con {
        width: 100%;
        flex-direction: column;
    }

    .map-con {
        height: 20vh;
    }

    .powered {
        text-align: center !important;
        font-size: 90%;
    }

    .go-text,
    .go-span {
        text-align: center;
    }

    .all-rights {
        font-size: 80%;
    }

    .powered {
        font-size: 80%;
    }
}

@media screen and (max-width:375px) {


    .s1 {
        background-position: center;
        background-size: 100% 100%;
    }

    .pic-right,
    .pic-left {
        width: 100%;
        margin: 0px !important;
        margin-bottom: 10px !important;
        padding: 0px !important;
    }

    .about-text-div {
        padding: 0px !important;
        padding-bottom: 20px !important;
    }

    .about-list-div {
        padding: 0px !important;
    }
}

@media screen and (max-width:320px) {

    .s1-text {
        font-size: 120%;
        word-wrap: break-word;
    }

    .request {
        padding: 5px !important;
        width: auto;
    }

    .s3 {
        height: 110vh;
    }

    .s4-boxes {
        width: 100%;
        margin: 10px !important;
    }



}