html {
    scroll-behavior: smooth;
}

.btn {
    border: hidden;
}

body {
    /* background-color:#183349; */
    background: rgb(248, 247, 247) !important;
    margin: 0px;
    font-size: 100%;
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    background-color: #183349;
}

.navbar-brand {
    /* color: #FF494D !important; */
    /* font-size: 150%; */
    /* font-weight: bold; */
    width: 20%;
    /* border: 1px solid red; */
}

/* .navbar-brand img{
    width: inherit;
} */

#navbarSupportedContent {
    position: absolute;
    right: 10vh;
}

.nav-link {
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
}

.nav-link:hover {
    color: #FF494D !important;
}

.fa-apple:hover {
    color: lightgray !important;
}

.fa-android:hover {
    color: lime !important;
}


.s1 {
    height: 100vh !important;
    background-image: url("../images/Abstract\ picture.jpg") !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.s1-overlay {
    /* background: #cfcfcfa1; */
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s1-text {
    /* color: white; */
    font-family: 'Fredoka One',
        cursive;
    font-family: 'Fredoka One',
        cursive;
    font-size: 300%;
    margin: 30px;
    text-align: center !important;
    font-weight: bold;
    color: white;
    text-shadow: 2px 5px 10px #FE3260;
}


.request {
    background: transparent;
    border: 2px solid #FE3260;
    color: white;
    font-weight: bold;
    padding: 15px !important;
    width: 20%;
    font-family: 'Russo One',
        sans-serif;
    width: 30vh;
}

.request:hover {
    color: white;
    background: #FF494D;
    border: 2px solid #FF494D;
}

.modal-header {
    /* background: #FE3260 !important; */
    background: linear-gradient(to left, #fe3262, #FF494D) !important;
    color: white;
}

.modal-footer .btn-primary {
    /* background: #FE3260 !important; */
    background: linear-gradient(to right, #fe3262, #FF494D) !important;
    color: white;
    border: hidden;
}

.modal-footer .btn-primary:hover {
    color: black;
    background: transparent !important;
    border: 2px solid #fe3262 !important;
}

.modal-body textarea {
    height: 20vh;
    resize: none;
}


.intro-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    font-weight: bold;
    /* border: 1px solid red; */
}

.intro-more {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 130%;
    font-weight: normal;
    /* border: 1px solid red; */
}

.intro-graph {
    font-family: sans-serif;
    font-size: 100%;
    font-weight: normal;
    /* border: 1px solid red; */
}

.innovation {
    color: #fe32622d;
    /* color: white; */
    font-size: 20vh;
    font-weight: bold;
    margin-left: -9vh !important;
    letter-spacing: 15px;
    /* border: 1px solid red; */
}

.innovate-inner-div {
    /* border: 1px solid red; */
    position: relative;
    top: -110px;
}

.img-text-con {
    position: absolute;
    left: 140px;
    top: 40px;
    z-index: 10;
    border: 3px solid white;
    /* border-radius: 0px; */
    background: #ffffff2c !important;
    box-shadow: 1px 3px 50px dimgray;
    /* border: 1px solid red; */
}

.img-con {
    background-image: url("../images/delivery-service-with-masks-concept_23-2148497067.jpg") !important;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px;
    height: 300px;
    width: 120% !important;
    z-index: 1;
    /* border: 1px solid black; */
    /* border: 1px solid red; */
}

.dummy-con {
    height: 320px;
    width: 75%;
    border-radius: 0px;
    position: relative;
    top: -28px;
    left: 270px;
    background: linear-gradient(to bottom right, #fe3262, #FF494D) !important;
    /* border: 1px solid red; */
}

.text-con-text {
    color: black !important;
    position: relative;
    left: 70px;
    /* border: 1px solid red; */
}

.s2-inner {
    padding: 10px;
}

.pic-right,
.pic-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.right-text-con,
.left-text-con {
    width: 50vh;
}

.pics-lead {
    font-family: 'Rowdies',
        cursive;
}

.right-img-con,
.left-img-con {
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-img-con .fa,
.left-img-con .fa {
    font-size: 400%;
    color: #FF494D;
}


.s3 {
    position: relative;
    height: auto;
    /* border: 1px solid red; */
    padding: 50px !important;
    height: 100%;
    background-image: url("../images/intro-mobile.png") !important;
    background-position: right;
    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-color: #eef0f18c;
}



.s3-flex {
    width: 100%;
    background: linear-gradient(to left, #fe326291, #FF494D) !important;
    /* border: 1px solid white; */
}

.how-to-lead {
    font-size: 150%;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

.about-text-div {
    width: 55% !important;

    /* border: 1px solid red !important; */
}

.about-company {
    font-size: 200%;
    font-family: 'Lobster',
        cursive;
    color: white;

}

.about-texts {
    font-family: 'Courgette',
        cursive;
    color: white;
}

.about-list-div {
    width: 100%;
    padding: 0px !important;
}

.about-list-div div ul {
    margin: 0vh 3vh 0vh 0vh !important;

}

.about-list-div div a {
    width: 20vh;
    color: black;
    text-decoration: none;
    font-family: 'Concert One',
        cursive;
}

.collapse-text {
    font-family: 'Fira Sans Extra Condensed',
        sans-serif;
}

.s4-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.lead-box-section {
    font-family: 'Staatliches',
        cursive;
}

.s4-boxes {
    width: 30%;
    padding: 20px;
    border-radius: 0px;
    cursor: pointer;
}

.s4-boxes:hover {
    border: 1px solid #FF494D;
    box-shadow: none !important;
}

.s4-boxes .fa {
    font-size: 200%;
    margin-bottom: 20px;
    color: #FF494D;
}

.s4-boxes p {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Fredoka One',
        cursive;
    color: #FE3260;
}

.s5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.go-text {
    font-family: 'Special Elite',
        cursive;
    font-size: 250%;
}

.go-span {
    font-family: 'Tangerine',
        cursive;
    font-size: 200%;
}

.footer-super {
    background-color: #FF494D !important;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-brand-con {
    width: 30%;
}

.foot-brand {
    width: inherit;
}



.footer-nav-con {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.footer-nav-con a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Concert One',
        cursive;
}

.footer-nav-con a:hover {
    color: #FF494D !important;
}

@media screen and (max-width:1024px) {
    .intro-text {
        font-size: 180%;
    }

    .intro-more {
        font-size: 120%;
    }

    .intro-graph {
        font-size: 100%;
    }

    .innovation {
        font-size: 18vh;
        margin-left: -5vh !important;
        letter-spacing: 15px;
    }

    .innovate-inner-div {
        position: relative;
        top: -70px;
    }

    .img-text-con {
        left: 0px;
        top: 40px;
    }

    .img-con {
        height: 250px;
        width: 120% !important;
    }

    .dummy-con {
        height: 300px;
        width: 75%;
        top: -28px;
        left: 200px;
    }

    .text-con-text {
        left: 70px;
    }

}


@media screen and (max-width:768px) {

    #navbarSupportedContent {
        position: relative;
        left: 0;
    }

    .s1 {
        background-position: center;
        background-size: 100% 100%;
    }

    .s1-text {
        /* color: white; */
        font-size: 200%;
        text-align: center !important;
        font-weight: bold;
    }

    .request {
        color: #FE3260;
    }

    .intro-text {
        font-size: 160%;
    }

    .intro-more {
        font-size: 110%;
    }

    .intro-graph {
        font-size: 90%;
    }

    .innovation {
        font-size: 12vh;
        margin-left: -4vh !important;
        letter-spacing: 15px;
    }

    .innovate-inner-div {
        position: relative;
        top: -30px;
        left: 0px !important;
    }

    .img-text-con {
        left: 0px;
        top: 40px;
        width: 120%;
    }

    .img-con {
        height: 230px;
        width: 180% !important;
    }

    .dummy-con {
        height: 280px;
        width: 80%;
        top: -28px;
        left: 200px;
    }

    .text-con-text {
        left: 10px;
    }



    .pic-right {
        display: flex;
        flex-direction: column-reverse;
    }

    .pic-right,
    .pic-left {
        margin-bottom: 0px !important;
    }

    .right-text-con,
    .left-text-con {
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-img-con,
    .left-img-con {
        width: 100%;
        align-items: center;
        /* border: 1px solid red; */
    }

    .right-img-con .fa,
    .left-img-con .fa {
        font-size: 300%;
    }

    .s3 {
        position: relative;
        min-height: 30vh;
        padding: 0px !important;
    }


    .s3-flex {
        width: inherit;
        height: auto;
        background: linear-gradient(to bottom, #fe32626e, #FF494D) !important;
        background: transparent;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        flex-wrap: wrap;
        position: absolute;
        top: 0px;
    }

    .about-text-div {
        width: 100% !important;
        /* border: 1px solid red !important; */
    }

    .about-company {
        font-size: 200%;
        font-family: 'Lobster',
            cursive;

    }

    .about-list-div {
        width: 100%;
    }

    .s4-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .s4-boxes {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        margin: 10px;
    }

    .s4-boxes span {
        text-align: center;
    }

    .go-text,
    .go-span {
        text-align: center;
    }

    .footer-super {
        background-color: #FF494D !important;
    }

    .footer-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-brand-con {
        width: 45%;
    }


    .footer-nav-con {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    .footer-nav-con a {
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Concert One',
            cursive;
    }

    .footer-nav-con a:hover {
        color: #FF494D !important;
    }

}

@media screen and (max-width:425px) {
    .s1 {
        height: auto !important;
    }

    .s1-overlay {
        padding: 20px;
    }

    .s1-text {
        font-size: 150%;
        word-wrap: break-word;
    }

    .request {
        padding: 10px !important;
        width: auto;
        color: white;
    }

    .s1-a {
        margin-bottom: 40vh !important;
    }

    .intro-text {
        font-size: 160%;
    }

    .intro-more {
        font-size: 110%;
    }

    .intro-graph {
        font-size: 90%;
    }

    .innovation {
        font-size: 8vh;
        margin-left: -4vh !important;
        letter-spacing: 5px;
    }

    .innovate-inner-div {
        position: relative;
        top: -30px;
        left: 0px !important;
    }

    .img-text-con {
        left: 0px;
        top: 40px;
        width: 130%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-con {
        height: 230px;
        width: 100% !important;
    }

    .dummy-con {
        height: 200px;
        width: 90vh;
        top: 18px;
        left: 120px;
    }

    .text-con-text {
        left: 10px;
    }


    .lead-box-section {
        text-align: center;
    }

    .lead-box-span {
        text-align: center !important;
    }

    .s3 {
        height: 45vh;
    }

    .s3-flex {
        background: linear-gradient(to bottom, #fe32626e, #FF494D) !important;
    }


    .s4-boxes {
        width: 90%;
    }

    .how-to-lead {
        text-align: center !important;
    }

    .about-list-div div {
        flex-direction: column !important;
        align-items: center;
    }

    .about-list-div div ul {
        margin: 0vh 0vh 0vh 0vh !important;

    }

    .footer-flex {
        flex-direction: column;
    }

    .footer-brand-con {
        width: 100%;
    }

    .footer-flex .brand {
        color: white !important;
        font-size: 150%;
        font-weight: bold;
    }

    .footer-nav-con {
        width: 100%;
        flex-direction: column;
    }

    .map-con {
        height: 20vh;
    }

    .powered {
        text-align: center !important;
        font-size: 90%;
    }



    .all-rights {
        font-size: 80%;
    }

    .powered {
        font-size: 80%;
    }
}

@media screen and (max-width:375px) {


    .s1 {
        background-position: center;
        background-size: 100% 100%;
    }

    .intro-text {
        font-size: 150%;
    }

    .intro-more {
        font-size: 110%;
    }

    .intro-graph {
        font-size: 90%;
    }

    .innovation {
        font-size: 7vh;
        margin-left: -4vh !important;
        letter-spacing: 5px;
    }

    .innovate-inner-div {
        position: relative;
        top: -30px;
        left: 0px !important;
    }

    .img-text-con {
        left: 0px;
        top: 40px;
        width: 130%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-con {
        height: 230px;
        width: 100% !important;
    }

    .dummy-con {
        height: 200px;
        width: 90vh;
        top: 18px;
        left: 120px;
    }

    .text-con-text {
        left: 10px;
    }

    .pic-right,
    .pic-left {
        width: 100%;
        margin: 0px !important;
        margin-bottom: 10px !important;
        padding: 0px !important;
    }

    .about-text-div {
        padding: 0px !important;
        padding-bottom: 20px !important;
    }

    .about-list-div {
        padding: 0px !important;
    }
}

@media screen and (max-width:320px) {

    .s1-text {
        font-size: 120%;
        word-wrap: break-word;
    }

    .request {
        padding: 5px !important;
        width: auto;
    }

    .intro-text {
        font-size: 130%;
    }

    .intro-more {
        font-size: 90%;
    }

    .intro-graph {
        font-size: 80%;
    }

    .innovation {
        font-size: 6vh;
        margin-left: -4vh !important;
        letter-spacing: 4px;
    }

    .innovate-inner-div {
        position: relative;
        top: -50px;
        left: 0px !important;
    }

    .img-text-con {
        left: 0px;
        top: 40px;
        width: 150%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-con {
        height: 200px;
        width: 100% !important;
    }

    .dummy-con {
        height: 180px;
        width: 90vh;
        top: 18px;
        left: 100px;
    }

    .text-con-text {
        left: 0px;
    }

    .pics-lead {
        font-size: 100%;
    }

    .s4-boxes {
        width: 100%;
        margin: 10px !important;
    }



}